<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Profile page</title>
    <style>
        #card {
            width: 40vw;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
        #fotoPerfil {
            width: 15vw;

            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        #nomeAutor {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #imgPerfil {
            display: block;
            margin-left: 0.5vw;
            margin-right: auto;
        }
        #c2 {
            margin-left: auto;
            margin-right: auto;
            width: 15vw;
        }
        #contianerComments h5{
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container" id="fotoPerfil">
          <a class="navbar-brand" href="#">
            <img id="imgPerfil" src="/uploads/<%=autor.foto_perfil%>" alt="Logo" width="150" height="140" class="d-inline-block align-text-top">
          </a>
          <span id="nomeAutor"><%= autor.name%></span>
        </div>
      </nav>
      <div class="container" id="contianerPosts">
      <%posts.forEach(post => {%>   
          <div class="card" id="card">
            <div class="card-header">
             
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <!-- Bot達o de like ao clicar -->
                <!-- <span class="material-symbols-outlined">
                  thumb_up
                  </span> -->
                  <!-- Bot達o de dislike ao clicar -->
                  <!-- <span class="material-symbols-outlined">
                    thumb_down
                    </span> -->
                <span class="titlePost">

                </span>
                <button id="btnForum" data-bs-toggle="modal" data-bs-target="#modalForum"  class="btn btn-light me-md-2" type="button"><span class="material-symbols-outlined">
                  forum
                </span></button>
                <button id="btnEdit"data-bs-toggle="modal" data-bs-target="#modalEdit"  class="btn btn-light me-md-2" type="button"><span class="material-symbols-outlined">
                  thumb_up
                  </span></button>
                <button class="btn btn-light" type="button" ><span class="material-symbols-outlined">
                  thumb_down
                  </span></button>
              </div>
            </div>
            <div class="card-body">
              <img src="/uploads/<%= post.imagem%>" class="card-img-top" alt="...">
                
              </blockquote>
              <footer class="footer"> </footer>
            </div>
            
          </div> 
          <%})%>
    </div> 
       
        <div class="container" id="contianerComments">
            <h5>Comentarios</h5>
            <%comentarios.forEach(comment => {%>   
                <div class="card" id="card">
                  <div class="card-header">
                   
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <!-- Bot達o de like ao clicar -->
                      <!-- <span class="material-symbols-outlined">
                        thumb_up
                        </span> -->
                        <!-- Bot達o de dislike ao clicar -->
                        <!-- <span class="material-symbols-outlined">
                          thumb_down
                          </span> -->
                      <span class="titlePost">
      
                      </span>
                      <button id="btnForum" data-bs-toggle="modal" data-bs-target="#modalForum"  class="btn btn-light me-md-2" type="button"><span class="material-symbols-outlined">
                        forum
                      </span></button>
                      <button id="btnEdit"data-bs-toggle="modal" data-bs-target="#modalEdit"  class="btn btn-light me-md-2" type="button"><span class="material-symbols-outlined">
                        thumb_up
                        </span></button>
                      <button class="btn btn-light" type="button" ><span class="material-symbols-outlined">
                        thumb_down
                        </span></button>
                    </div>
                  </div>
                  <div class="card-body">
                        <%=comment.comentario%>
                      
                    </blockquote>
                    <footer class="footer"> </footer>
                  </div>
                </div>
                <%})%>
    </div>
</body>
</html>
